@font-face {
    font-family: 'TheGaneshaFont';
    src: url('/fonts/Theganesha-V5OB.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.next-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
    background-color: antiquewhite;
    border-color: transparent;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle at -4% 92%, rgba(154,3,30,0.63), rgba(90,17,18,0)), radial-gradient(circle at 81% 102%, rgba(251,139,36,1), rgba(150,100,100,0)), linear-gradient(311deg, rgba(227,100,20,1), rgba(255,255,0,0));
}

section h1 {
    font-family: 'Kumar One', serif;
    font-size: 5vw;
}

.start-content {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.start-content p {
    font-size: large;
    font-family: 'Mina', sans-serif;
    font-weight: 500;
}