@font-face {
    font-family: 'TheGaneshaFont';
    src: url('/fonts/Theganesha-V5OB.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: contrast(140%) brightness(200%);
    background: 
	linear-gradient(35deg, rgba(251,139,36,1), rgba(0,0,0,0)),
	linear-gradient(196deg, rgba(227,100,20,1), rgba(255,0,255,0)),
	linear-gradient(360deg, rgba(255,0,255,1), rgba(255,0,0,0)),
	linear-gradient(244deg, rgba(255,0,0,1), rgba(0,255,255,0)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%50noiseFilter)'/%3E%3C/svg%3E");
    z-index: -1;
  }

header {
    position: sticky;
    top:0 ;
    text-align: center;
    background-color: transparent;
    z-index: 1;
}

.progress-bar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}

.progress-bar-inner {
    position: relative;
    width: 0%;
    padding: 0px;
    background-color: #460b2f;
    color: white;
    z-index: 1;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.next-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
}

.button-container {
    margin: auto;
    margin-top: 50%;
}

.next-button button,
.button-container button {
    border-color: transparent;
    border-radius: 50px;
    background-color: black;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
}

.next-button button:hover {
    transform: scale(1.1);
    letter-spacing: .15rem;
    box-shadow: 0 0 20px #460b2f;
}

section {
    min-height: 100vh;
    display: flex;
    padding: 5%;
    align-items: center;
    /**    filter: contrast(370%) brightness(100%);
    background: 
    linear-gradient(183deg, rgba(251,139,36,1), rgba(150,100,100,0)),
    radial-gradient(circle at 43% 69%, rgba(227,100,20,0.66), rgba(183,95,50,0)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6.93' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); **/
}

section h1 {
    font-family: 'Kumar One', serif;
    font-size: 4vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.intro-content {
    display: flex;
}

.start-content {
    display: flex;
}

.start-left,
.start-right {
    flex: 1;
    width: 50%;
}

.welcome-message {
    font-size: 30px;
    font-family: 'Mina', sans-serif;
    font-weight: 500;
}

.start-right p {
    font-size: 20px;
    font-family: 'Mina', sans-serif;
    font-weight: 600;
}

#India1 {
    display: flex;
}

#India1 h1 {
    font-size: 3vw;
}

#India1 p {
    font-size: 20px;
    font-family: 'Mina', sans-serif;
    font-weight: 500;
}

#India1 .left-container {
    flex: 1; 
    padding: 20px;
    box-sizing: border-box;
}

#India1 .map-container {
    position: relative;
    width: 100%; 
}

#India1 .right-container {
    flex: 1; 
    padding: 20px; 
    box-sizing: border-box;
}

.image-container img {
    width: 550px;
    height: 350px;
    overflow: hidden;
}

.image-container {
    display: flex;
    justify-content: center;
}

.info-container {
    padding: 2%;
    color: black;
    border: #460b2f solid 2px;
    box-shadow: 0 4px 8px rgba(70, 11, 47, 0.5);
}

.info-container h2 {
    color: white;
    margin-left: 1%;
    font-size: 40px;
    display: inline;
    padding: 2%;
    background-color: #460b2f;
}

.colonial-content {
    display: flex;
}

.colonial-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.colonial-left p {
    font-size: 25px;
    font-family: 'Mina', sans-serif;
    font-weight: 500;
}

.colonial-right {
    display: flex;
    flex-direction: column;
}

.colonial-image-container {
    position: relative;
    background-color: white;
    width: 700px;
    height: 200px;
    margin: 2%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(70, 11, 47, 0.5);
    transition: transform 0.3s ease-in-out;
}

.colonial-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*.colonial-link a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: #460b2f;
}

.colonial-link a {
    font-family: 'Mina', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: 600; 
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    opacity: 1;
    transform: translate(-50%, -50%);
}

.overlayLeft {
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
}

.colonial-image-container:hover .overlayLeft {
    width: 100%;
    opacity: .7;
}

.colonial-image-container:hover {
    filter: grayscale(100%);
}

.postcolonial-content {
    display: flex;
    flex-direction: column;
}

.postcolonial-header {
    display: flex;
    align-items: center;
}

.postcolonial-header h1 {
    flex: 1;
    width: 50%;
}

.postcolonial-header p {
    flex: 1;
    width: 50%;
    font-size: 21px;
    font-family: 'Mina', sans-serif;
    font-weight: 500;
}

.postcolonial-image {
    width: 392px;
    height: 300px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.postcolonial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postcolonial-image-container {
    display: flex;
    
    transition: transform 0.5s ease;
    margin-bottom: 2%;
}

.postcolonial-text  {
    align-self: baseline;
    height: 225px;
    width: 800px;
    transform: translateX(100%); 
    transition: transform 0.5s ease;
    opacity: 0;
}

.postcolonial-image-container:hover .postcolonial-text {
    transform: translateX(0); 
    opacity: 1;
}

.postcolonial-image:hover {
    transform: scale(1.1);
}

.postcolonial-text p {
    margin-left: 3%;
    padding: 2%;
    font-size: 21px;
    font-family: 'Mina', sans-serif;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(70, 11, 47, 0.5);
}

.postcolonial-text-right {
    align-self: baseline;
    height: 225px;
    width: 800px;
    transform: translateX(-100%); 
    transition: transform 0.5s ease;
    opacity: 0;
}

.postcolonial-image-container:hover .postcolonial-text-right {
    transform: translateX(0); 
    opacity: 1;
}

.postcolonial-text-right p {
    margin-right: 3%;
    padding: 2%;
    font-size: 21px;
    font-family: 'Mina', sans-serif;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(70, 11, 47, 0.5);
}

/*  India Centric Design section */

.indiacentric-content {
    display: flex;
    flex-direction: column;
}

.indiacentric-header {
    display: flex;
    align-items: center;
}

.indiacentric-header p {
    font-size: 21px;
    font-family: 'Mina', sans-serif;
    font-weight: 500;
}

.circles {
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-container {
    width: 225px;
    height: 225px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(70, 11, 47, 0.5);
}

.leftCircle {
    align-self: flex-start;
}

.circle-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}





