@font-face {
    font-family: 'TheGaneshaFont';
    src: url('/fonts/Theganesha-V5OB.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.next-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
}

.next-button button {
    border-color: transparent;
    border-radius: 50px;
    background-color: antiquewhite;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.next-button button:hover {
    border-color: #460b2f;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle at -4% 92%, rgba(154,3,30,0.63), rgba(90,17,18,0)), radial-gradient(circle at 81% 102%, rgba(251,139,36,1), rgba(150,100,100,0)), linear-gradient(311deg, rgba(227,100,20,1), rgba(255,255,0,0));
}

section h1 {
    font-family: 'Kumar One', serif;
    font-size: 5vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.start-content {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.start-content p {
    font-size: 30px;
    font-family: 'Mina', sans-serif;
    font-weight: 500;
}

#India1 {
    display: flex;
}

#India1 h1 {
    font-size: 3vw;
}

#India1 p {
    font-size: 30px;
    font-family: 'Mina', sans-serif;
    font-weight: 500;
}

#India1 .left-container {
    display: flex;
    flex-direction: column;
}

#India1 .right-container{
    width: 50%;
}